*{ box-sizing: border-box;
margin: auto;
padding: 0%;}


 
body{ background-color:rgb(255, 255, 255);
      font-family: sans-serif ;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      text-align:left;
     max-width: 100%;
}

/* For phone View */
@media screen and (max-device-width: 600px)
 {
 
}
/* For Tablet View */
@media screen and (min-device-width: 800px)
 {
 
}
/* For Desktop View */
@media screen and (min-width: 1024px) {
 
}
header {background-color: white; 
     text-align:right;
     margin-top:5px ;
     padding:-7px;
  

}
header li{
  margin-bottom: 1px;
}
.topnavba li{
  display:inline-block;
  padding:0px;
  padding-right:20px;
  margin-right:50px;
  margin-left:-60px;

 
}


li a{
  display:block;
  text-align:right;
  text-decoration:none;
  right:90px;
  margin-top: 10%;
  color:black;
  font-size:12px;
  font-family: sans-serif ;
}

.topnavba a{
  text-transform:uppercase;

}
.img-logo{margin-top:3px;
    padding-left: 15px;
    padding-top:15px;
    margin-right: 80%;
   
}

.topnavba{
    margin-top: -55px;
}
.homeuppercase{
  border-bottom:solid 4px #0056d2;
  font-weight: bold;
  width: -20px;
  height: 20px;
  margin-top: 7px;
  text-underline-position: under;
  
}

.flex-container{
    display: grid;
    align-items: center;
    color: aliceblue;
    background-color: rgb(0, 86, 210);
    width:110px;
    height:50px;
    font-size:15px;
   justify-content:center;
    margin-left:1150px;
    text-decoration: none;
   
  }
a:hover{
  background-color:rgb(12, 64, 187);
 }
.container {
    display: inline-block;
    cursor: pointer;
    color:rgb(49, 148, 234);
    margin-right:1300px;
    margin-top: -90px;
    padding: 20px;
    
  }
  
  /*.bar1{
   background-color:blue;
    width: 35px;
    height: 5px;
    background-color: rgb(49, 148, 234);
    margin: 10px;
    transition: 0.4s;
  }*/
  .nav-left-side{
    position: absolute;
    margin-right: 40%;
    margin-left: 30px;
    margin-top: -2%;
    padding: -20%;
  }

  .navbar li{
    display:inline-block;  
  }
  main{
    margin-top: 1%;
  }
  .homepage li a{
    text-decoration:none;
    color:black;
    font-family:sans-serif;
    font-size:1rem;
    line-height: 0%;
    margin-right:1rem;
    margin-left:1rem;
    
  }
  ul{
    margin: 8px;
    padding: 5px;
  }
  .h{
    margin-bottom:1px;
    margin-right: 100%;
    margin-left: -30px;
    width: 200%;
    height:2px;
    margin-top: 3px;
    color:rgba(36, 34, 34, 0.394);
  }
  
  .flex-container1{
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
  }
  .flex-box{
      
      height: 500px;
      margin-top: 10px;
      background-color:white;
      color: black;
      font-weight: bold;
      font-size: 36px;
      text-align: left;
      line-height:48px;
      padding-top: 70px;
      padding-left: 99px;
      margin:-20px;
    
  }
  .content-flex1{
    margin-top: 50px;
    margin-left: 3%;
  }
  h3{
      margin-top:-30px;
      font-size: 20px;
      color: rgb(34, 33, 33);
      font-family: sans-serif;
      font-weight: 100;
  }
  .contact-container{
    display: flex;
    align-items: center;
    color: aliceblue;
    background-color: rgb(0, 86, 210);
    width:180px;
    height:80px;
    font-size:20px;
   justify-content:center;
    margin-left:2px;
    margin-top: 2%;
    text-decoration: none;
  }
  .manimage{
      
      margin-left:50%;
      margin-top: -30%;
      
      
  }
  
  /*h2{
      font-family: sans-serif;
      font-size:35px ;
      right: 50%;
      margin-bottom:30px;
      margin-top: 98px;
      padding-top: 100px;
      padding-left: 10px;
      text-align: left;
      z-index: 1;

  }*/
  .sentence{
    margin-left: -15%;
    margin-top: -60%;
    font-family: sans-serif;
      font-size:35px ;
      right: 50%;
      text-align: center;
    
  }
  /*.logos .logos-repeater {
    justify-content: center;
    align-items: center;}
    
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
    }
    .logos .logos-repeater {
        display:row ;
        flex-wrap: wrap;
        flex-direction: calc(4 /1);
        margin: 20%;
        padding: 40%;
        align-items:flex-start;
    }
    /*.grid-list {
        grid-template-columns: repeat(6, 1fr);}
    .logos .logos-repeater, .logos .logos-repeater-larger, .logos .logos-repeater-small {
        align-items: center;
    }
    .row {
        display: flex;
        flex-direction:row ;
        align-items: center;
        line-height: 44px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30%;
        row-gap: 100px;
        margin:15px;
        padding:10%
        
    }
    
    .organization{
        position: absolute;
        margin-left:5% ;
        margin-top: -1%;
      
    }*/
    .logo{
      width:80px;
      height:80%;
      padding:10px;
      margin:5px;
     line-height:10px;
     
    
    }
    
    .grid-wrap{
         display: flex;
         flex-direction:row ;
          align-items: center;
          line-height: 10px;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 190px;
          row-gap: 5px;
          margin-left:-170px;
          margin-right:-70px;
          padding:27%;
         grid-template-columns: repeat(9, 1fr );
        
    }
    .container-grid{
      align-items: center;
      margin-top: -5%;
      align-items:center;
     
      
      
    }
    .img-space{
      margin-left:-12%;
    }
    .logos-container{
      margin-top: -20%;
    }
    .flex-box3{

        height: 600px;
       text-align: center;
       justify-content:center;
       background-color:rgb(235, 243, 254);
       color: black;
       font-weight: bold;
       font-size: 36px;
       font-family: sans-serif;
       line-height:48px;
       margin-left:-10% ;
       margin-top: 70%;
       line-height: 120px;
       font-weight: 600;
    

    }
    .secondpoints{
        width: 160%;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 100;
        color: rgb(20, 20, 20);
        margin-left:10% ;
        margin-top: -35%;
        line-height: 35px;
       
    }
    .womenimage{
        position: absolute;
      margin-left:55% ;
      margin-top: -14%;
    }
    .GetStarted{
        display: flex;
        align-items: center;
        color: aliceblue;
        background-color: rgb(0, 86, 210);
        width:180px;
        height:80px;
        font-size:16px;
       justify-content:center;
        margin-left:12%;
        text-decoration: none;
        cursor: pointer;
        
    }
    .content-4{
      width: 200%;
      margin-top:10% ;
      margin-left: -10%;
    }
    .flex-box4{
      margin-left: -45%;
       height: 350px;
       text-align: center;
       background-color:rgb(245, 247, 248);
       color: black;
       font-weight: 200;
       font-size: 30px;
       font-family: sans-serif;
       line-height:48px;
       line-height: 120px;
       font-weight: 700;
    }
    
    p{
        margin-top:-9%;
        line-height: 36px;
        margin-left: 15%;
        font-size: 22px;
        font-weight: 100;
        color: rgb(69, 67, 67);
        font-family: sans-serif;  
    }
    .LearnMore{
        display: flex;
        align-items: center;
        color: aliceblue;
        background-color: rgb(0, 86, 210);
        width:180px;
        height:80px;
        font-size:16px;
       justify-content:center;
        margin-left:23%;
        margin-top: 1%;  
    }
    .second-part{
      margin-top: -50%;
    }
    .logos2{
      margin-top:-10%;
      margin-left: -10%;
    }
    
    .certificate-img{
      margin-top:-1%;
      padding-left:120px;
    }
    .footer-container{
      background-color:rgb(255, 255, 255);
      padding-bottom:2rem;
      font-family:sans-serif;
      font-size:14px;
      margin-top: 92%;  
    }
    h4{
      font-weight:200;
      font-weight:bold;
      font-size:13px;
      
      
    }
    .copy-right1{
      font-size:10px;
      margin-top: -45%;
      margin-left: -10%;
      line-height: 20px;
      
    }
   .app-logo {
     justify-items: center;
     align-items: left;
     width: 90px;
     height: 40px;
     margin: -40%;
     margin-right: 50%;
     padding-left: -20%;
     left: 20px;
     display: inline;
   }
   .app-logo2{
    margin:1em;
    margin-top: 18%;
  

   }
    .about {
      font-size:13px;
      margin-left: -10%;
      margin-bottom: 50%;
      
    }
    
    .footer{
      width:80%;
      height:40vh;
      font-family:sans-serif;
      color:black;
     display:flex;
     justify-content:center;
    
      margin:0 auto;
      
    }
    .fotter-heading{
      display:flex;
      flex-direction:column;
      margin-right:2.5rem;
      padding: 2rem;
    }

    .fotter-heading a{
      text-decoration:none;
      text-align:center;
      color:black;
      font-size:12px;
      font-weight:100;
      line-height:30px;
     align-content:left;
    }
    .footer-4{
      margin-top: 0%;
    }
